body {
  margin: 0;
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@font-face {
  font-family: Avenir;
  src: local('Avenir'), url(./fonts/Avenir.otf) format('otf');
}

code {
  font-family: Avenir;
}

.container{
  display: flex;
  justify-content: center;
  width:100%;
  height: auto;
  scroll-behavior: auto;
}

.dashContainer{
  display: grid;
  width:90%;
  margin: auto;
  text-align: left;
}
.card{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 420px;
  height: 235px;
  padding: 20px;
  margin: 32px;
  display: inline-grid;
  position: relative;
}
.cardKey{
  font-size: 12px;
  font-weight: 400;
  color: #555658;
  line-height: 16px;
  width:33px;
  height: 16px
}
.cardTitle{
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
.cardContent{
  font-size: 14px;
  color: #131415;
  text-align: left;
  word-wrap: break-word;
  overflow-y: auto;
  height: 100px;
}
.cardButtons{
  /* border: 1px solid #000; */
  text-align: right;
  
}
.fab{
  position: absolute;
  left: 88.25%;
  right: 10.25%;
  top: 88.25%;
  bottom: 6.25%;
}

.pageHead{
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  color: black;
}
.subHead{
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #777777;
  /* justify-items: ; */
}

.accountCard{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #F0F0F0;
  width: 720px;
  height: 466px;
  border-radius: 4px;
  padding: 24px, 32px, 40px, 32px;
  margin-top: 100px;
}

/* btn dropdown css */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  background: #FFFFFF;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  min-width: 160px;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0,18);
  z-index: 1;
  width: 144px;
  height: 44px;
}

.dropdown-content a {
  float: none;
  color: #F41E10;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}